In [1]:
import json
import pandas as pd
pd.options.display.max_rows = 4000

In [2]:
schema_meta = {}
with open('./saleor-schema-meta.json', 'r') as json_file:
    schema_meta = json.load(json_file)
schema_df = pd.DataFrame(schema_meta["data"]["__schema"]["types"])

In [3]:
schema_df.head(5)

      name       kind
0    Query     OBJECT
1  Webhook     OBJECT
2     Node  INTERFACE
3       ID     SCALAR
4   String     SCALAR

In [4]:
print("Kinds of types in schema:", schema_df.kind.unique())

Kinds of types in schema: ['OBJECT' 'INTERFACE' 'SCALAR' 'ENUM' 'INPUT_OBJECT' 'UNION']

In [5]:
object_df = schema_df[(schema_df.kind == "OBJECT") & 
                      (schema_df.name.str.contains("_") == 0) &
                      (schema_df.name.str.contains("Query") == 0) &
                      (schema_df.name.str.contains("Mutation") == 0)]
print("Number of types defined in the schema:", object_df.shape[0])

Number of types defined in the schema: 458

In [6]:
# object_df.head(object_df.shape[0])

In [7]:
enum_df = schema_df[(schema_df.kind == "ENUM") &
                    (schema_df.name.str.contains("_") == 0)]
print("Number of enums defined in the schema:", enum_df.shape[0])

Number of enums defined in the schema: 84

In [8]:
# enum_df.head(enum_df.shape[0])

In [9]:
introspection_df = schema_df[schema_df.name.str.contains("_")]
print("Number of introspection types in the schema:", introspection_df.shape[0])

Number of introspection types in the schema: 11

In [10]:
introspection_df.head(introspection_df.shape[0])

                    name    kind
281              _Entity   UNION
282                 _Any  SCALAR
283             _Service  OBJECT
700             __Schema  OBJECT
701               __Type  OBJECT
702           __TypeKind    ENUM
703              __Field  OBJECT
704         __InputValue  OBJECT
705          __EnumValue  OBJECT
706          __Directive  OBJECT
707  __DirectiveLocation    ENUM

In [11]:
scalar_df = schema_df[schema_df.kind == "SCALAR"]
print("Number of scalar types in the schema:", scalar_df.shape[0])

Number of scalar types in the schema: 14

In [12]:
scalar_df.head(scalar_df.shape[0])

                name    kind
3                 ID  SCALAR
4             String  SCALAR
5            Boolean  SCALAR
14          DateTime  SCALAR
24               Int  SCALAR
29        JSONString  SCALAR
37             Float  SCALAR
61              Date  SCALAR
91              UUID  SCALAR
282             _Any  SCALAR
328  PositiveDecimal  SCALAR
329     WeightScalar  SCALAR
371           Upload  SCALAR
640    GenericScalar  SCALAR

In [13]:
query_entrypoints_meta = {}
with open('./saleor-query-entrypoints.json', 'r') as json_file:
    query_meta = json.load(json_file)
query_df = pd.DataFrame(query_meta["data"]["__type"]["fields"])

print("Number of query entrypoints in the Query type (including introspections):", query_df.shape[0])

Number of query entrypoints in the Query type (including introspections): 69

In [14]:
query_df.head(69)

                      name
0                  webhook
1            webhookEvents
2     webhookSamplePayload
3                warehouse
4               warehouses
5             translations
6              translation
7                    stock
8                   stocks
9                     shop
10            shippingZone
11           shippingZones
12          digitalContent
13         digitalContents
14              attributes
15               attribute
16              categories
17                category
18              collection
19             collections
20                 product
21                products
22             productType
23            productTypes
24          productVariant
25         productVariants
26      reportProductSales
27                 payment
28                payments
29                    page
30                   pages
31          homepageEvents
32                   order
33                  orders
34             draftOrders
35             ordersTotal
36            orderByToken
37                    menu
38                   menus
39                menuItem
40               menuItems
41                giftCard
42               giftCards
43                  plugin
44                 plugins
45                    sale
46                   sales
47                 voucher
48                vouchers
49              exportFile
50             exportFiles
51                taxTypes
52                checkout
53               checkouts
54            checkoutLine
55           checkoutLines
56       appsInstallations
57                    apps
58                     app
59  addressValidationRules
60                 address
61               customers
62        permissionGroups
63         permissionGroup
64                      me
65              staffUsers
66                    user
67               _entities
68                _service

In [15]:
query_df = query_df[query_df.name.str.contains("_") == 0]
print("Number of query entrypoints in the Query type (excluding introspections):", query_df.shape[0])

Number of query entrypoints in the Query type (excluding introspections): 67